html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 100%;
  max-width: 50em;
  transform: translateX(-50%);
  padding-left: 1.5rem;
}

.head-text {
  display: inline;
  line-height: 1.4em;
  background-color: rgba(0, 0, 0, .5);
  font-weight: bold;
  font-size: 4rem;
  color: #fff;
  margin: 0;
}

.body-text {
  font-weight: normal;
  font-style: italic;
  font-size: 2rem;
  margin-top: .5em;
}
